
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->

<title th:text="${pageTitle}"> Home Page </title>


<style> 
        /* Modify the background color */ 
          
        .navbar-custom { 
            background-color: lightgreen; 
        } 
        /* Modify brand and text color */ 
          
        .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: green; 
        } 
    </style> 


</head>

<body>

  <nav class="navbar navbar-light bg-warning"> 
        <a class="navbar-brand" href="#"> 
      </a> 
    </nav> 

	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/First List">First List</a>
			<!-- need to change the href to: /firstList so it is exactly the same that it is in your controller under @GetMapping -->
			</li>
			<li class="nav-item"><a class="nav-link" href="/Second List">Second List</a>
			</li>
		</ul>
	</nav>
	<div class="jumbotron text-center">

		<h1>To Do Lists</h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">

		<p>This site will contain 2 weekly to do lists.
	</div>